body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1, p {text-align:center}
.file-drop, .file-received {width:500px; height:500px; margin:auto}
.file-drop, .file {background-repeat: no-repeat}
.file-drop {border:1px solid silver; background-image:url('/images/drop-file.png'); background-position: center}
.file {background-image:url('/images/icon-download.png'); background-position: left; padding-left:70px; min-height:50px; line-height:50px; text-align:left}}
