<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
      <script src="http://localhost:8080/socket.io/socket.io.js"></script>
      <script src="/js/jquery-1.12.0.min.js"></script>
      <script src="/js/json2.js"></script>
      <script src="/js/underscore-min.js"></script>
      <script src="/js/backbone-min.js"></script>
      <script src="/js/app.min.js"></script>